body {
  width: 30%;
  margin: 3vw 20vw;
  border-radius: 5%;
  border: 1px black solid;
  justify-content: center;
  align-content: center;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  body {
    width: 90%;
    margin: 3vw;
    border-radius: 5%;
    border: 1px black solid;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}

header {
  border: 1px black solid;
  margin: 1vw;
}

section {
  display: flex;
  align-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
  height: 100%;
}

div {
  display: flex;
  border: 1px black solid;
}

p {
  word-break: break-all;
  text-align: center;
  font-size: 2vw;
  height: 20vw;
  width: 5vw;
}

aside {
  border: 2px black solid;
  margin: 1vw;
  width: 90%;
}

footer {
  border: 1px black solid;
  margin: 1vw;
}
